.nav-container {
  width: 80%;
  padding: 40px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .logo-nav {
    display: flex;
    align-items: center;
    .logo {
      cursor: pointer;
    }
    .nav .items {
      display: flex;
      align-items: center;
      margin-left: 20px;
      .item {
        margin: 0px 20px;
        color: var(--gray-color-neutral);
        cursor: pointer;
      }
    }
  }

  .buttons {
    .button_login {
      background-color: white;
      border: none;
      color: var(--gray-color-neutral);
      cursor: pointer;
    }
    .button_sign {
      margin-left: 25px;
      background-color: var(--cyan-color-primary);
      border: none;
      padding: 10px 20px;
      border-radius: 10em;
      color: white;
      cursor: pointer;
    }
  }

}
